@page "/Articulo/Index"

@inject IClienteService<Articulos> articuloService
@inject NavigationManager Navigation
@rendermode InteractiveWebAssembly

<PageTitle> Art&iacute;culos Index</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        @*Header*@
        <div class="card-header text-white text-center">
            <div class="bg-primary rounded">
                <h1>Registro de Art&iacute;culos</h1>
            </div>
        </div>
        @*Body*@
        <div class="card-body">
            <div class="row mb-3 align-items-end">
                @*Filtro*@
                <div class="col-md-2">
                    <label for="Filtro" class="form-label">Filtrar por:</label>
                    <select @bind="filtro" class="form-select">
                        <option value="0">Filtrado</option>
                        <option value="id">Id</option>
                        <option value="descripcion">Descripcion</option>                        
                    </select>
                </div>
                @*Busqueda*@
                <div class="col-md-5">
                    <label for="ValorFiltro" class="form-label">B&uacute;squeda:</label>
                    <div class="input-group">
                        <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                        <button @*@onclick="Buscar" *@ class="bi bi-search btn btn-outline-info"></button>
                    </div>
                </div>
                @*Restablecer Tabla*@
                <div class="col-md-2">
                    <button class="btn btn-outline-dark bi bi-arrow-clockwise" @onclick="Restablecer"> Restablecer</button>
                </div>
                @*Crear*@
                <div class="col-md-3 text-end">
                    <button class="btn btn-success bi bi-plus-square-fill" @onclick="Crear"> Nuevo</button>
                </div>
            </div>
            @*Tabla*@
            <table class="table table-bordered">
                <thead class="text-center">
                    <tr>
                        <th>Art&iacute;culoId</th>
                        <th>Descripci&oacute;n</th>
                        <th>Costo</th>
                        <th>% de Ganancia</th>
                        <th>Precio</th>
                        <th>Detalles</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var articulo in Articulo)
                    {
                        <tr class="text-center">
                            <td>@articulo.ArticuloId</td>
                            <td>@articulo.Descripcion</td>
                            <td>@articulo.Costo.ToString("N2")</td>
                            <td>@articulo.Ganancia %</td>
                            <td>@articulo.Precio</td>
                            <td><button class="bi bi-eye btn btn-outline-info" @onclick="()=>Detalles(articulo.ArticuloId)"></button></td>
                            <td><button class="bi bi-pencil-square btn btn-outline-warning" @onclick="()=>Editar(articulo.ArticuloId)"></button></td>
                            <td><button class="bi bi-trash-fill btn btn-outline-danger" @onclick="()=>Eliminar(articulo.ArticuloId)"></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @*Footer*@
        <div class="card-footer">
            <p>Total de Art&iacute;culos: @Articulo.Count()</p>
        </div>
    </div>
</div>

@code {
	public List<Articulos> Articulo = new List<Articulos>();
	private string filtro = "";
	private string valorFiltro = "";

	protected override async Task OnInitializedAsync()
	{
		Articulo = await articuloService.GetTodoAsync();
	}

	public async Task Restablecer()
	{
		filtro = "";
		valorFiltro = "";
		Articulo = await articuloService.GetTodoAsync();
	}

	public void Crear()
	{
		Navigation.NavigateTo("/Articulo/Crear");
	}

	public void Detalles(int id)
	{
		Navigation.NavigateTo($"/Articulo/Detalles/articuloId={id}");
	}

	public void Editar(int id)
	{
        Navigation.NavigateTo($"/Articulo/Editar/articuloId={id}");
	}

	public void Eliminar(int id)
	{
        Navigation.NavigateTo($"/Articulo/Eliminar/articuloId={id}");
	}
}